/* 서울한강체 M,L , 여기어때 잘난체  폰트  가져오기*/
@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(20px);
}

.visible {
  opacity: 1;
  transform: translateY(0px);
}
/* 폰트랑 크기 지정*/

.font_size_S {
  font-family: SeoulHangangM, 'Nanum Gothic', sans-serif;
  font-size: 1.4rem;
  line-height: 35px;
}

.font_size_M {
  font-family: SeoulHangangM, 'Nanum Gothic', sans-serif;
  font-size: 1.75em;
}

.font_jalnan_M {
  font-family: yg-jalnan, 'Nanum Gothic', sans-serif;
  font-size: 2rem;
}

.font_jalnan_L {
  font-family: yg-jalnan, 'Nanum Gothic', sans-serif;
  font-size: 2.5rem;
}

.font_size_L {
  font-family: SeoulHangangM, 'Nanum Gothic', sans-serif;
  font-size: 1.875em;
  line-height: 50px;
}

section {
  background-color: rgb(242, 242, 242);
}

a:link,
:hover,
:active,
:visited {
  text-decoration: none;
  color: black;
}

/* 이미지 크기가 너무 커서 max-width, max-height 지정 */
img {
  max-width: 100%;
  max-height: 100%;
}

.upper_text {
  padding: 4em 1em 3em 1em;
}

.lower_text {
  padding: 3em 1em 3em 1em;
}

li {
  list-style: none;
}

.img_height {
  height: 635px;
  text-align: center;
}

.box {
  width: 455px;
}

/* 헤더 시작 */
.wrapper {
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 180);
  justify-content: space-between;
  padding: 1em 0 1em 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main_logo {
  padding: 0 0 0 18.5em;
}

.main_logo_image {
  width: 150px;
  height: 60px;
}
.main_menu {
  padding: 0 18.5em 0 0;
}
/* 헤더 끝 */

.main_content {
  width: 100%;
}

.container {
  width: 70vw;
  margin: 0 auto;
}
/* intro 시작 */

.intro {
  display: flex;
  justify-content: space-around;
  padding-top: 5em;
}

.intro_left .text_center {
  padding: 1em 0 0 1em;
}

.download_link {
  padding-left: 1em;
  text-align: left;
}
.download_link li {
  display: inline-block;
  height: 66px;
  width: 150px;
}

/* intro end */

/* nutrients start */

.nutrients {
  margin: 3em 0 0 0;
  display: flex;
  justify-content: space-around;
}

/* nutri end */

/* ingredient start */

.ingredient {
  display: flex;
  justify-content: space-around;
  margin: 3em 0 0 0;
}

/* ingri end */

/* powder start */

.powder {
  display: flex;
  justify-content: space-around;
  margin: 3em 0 0 0;
}

/* powder end */

/* recipe start */

.recipe {
  display: flex;
  justify-content: space-around;
  margin: 3em 0 0 0;
}

/* recipe end */

/* inform start */

.inform {
  display: flex;
  justify-content: space-around;
  margin: 3em 0 0 0;
}

/* inform end */

/* share start */

.share {
  display: flex;
  justify-content: space-around;
  margin: 3em 0 0 0;
}

/* share end */

/* last_image start */

.last_image img {
  margin: 3em 0 0 0;
  border-radius: 5%;
}

/* last_image end */

/* footer start */

.copyright {
  background-color: rgb(255, 255, 180);
  text-align: center;
}

.footer__text {
  margin: 0;
}
/* footer end */

/* 768px screen width */

@media screen and (max-width: 768px) {
  /* font size */
  .font_jalnan_L {
    font-size: 2.3rem;
  }

  .font_size_L {
    font-size: 1.5em;
  }

  .upper_text,
  .lower_text {
    padding: 0;
  }

  .intro_left,
  .ingredient_left,
  .powder_right,
  .recipe_left,
  .inform_right,
  .share_left,
  .nutrients_right {
    padding-left: 7em;
  }

  /* root */

  .scroll-content {
    opacity: 1;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  /* header */

  .main_menu {
    margin: 0 auto;
    padding: 0;
  }
  .main_menu ul,
  .main_logo {
    padding-left: 0;
  }

  /* intro */
  .intro {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  /* nutrients */
  .nutrients {
    flex-direction: column-reverse;
    align-items: center;
  }

  /* ingredient */
  .ingredient {
    flex-direction: column;
    align-items: center;
  }

  /* powder */
  .powder {
    flex-direction: column-reverse;
    align-items: center;
  }

  /*recipe */
  .recipe {
    flex-direction: column;
    align-items: center;
  }

  /* inform */

  .inform {
    flex-direction: column-reverse;
    align-items: center;
  }

  /* share */

  .share {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .main_logo_image {
    height: 50px;
  }

  .main_menu {
    height: 30px;
    font-size: 12px;
  }
  .img_height {
    height: 100%;
  }

  .box {
    width: 100%;
  }

  .intro_left,
  .ingredient_left,
  .powder_right,
  .recipe_left,
  .inform_right,
  .share_left,
  .nutrients_right {
    padding-left: 0em;
  }

  .font_size_S {
    font-size: 1.3rem;
  }

  .font_size_M {
    font-size: 1.3em;
  }

  .font_jalnan_M {
    font-size: 2rem;
  }

  .font_jalnan_L {
    font-size: 1.5rem;
  }

  .font_size_L {
    font-size: 1.15em;
  }
}
